.editor-panel{
    flex:1;
    padding: 50px ;
    background: #f3f4f5;
    display : flex;
    flex-direction: column;
    .editor-title{
      margin-top: 5px;
      align-items: center;
      margin-bottom: 30px;
      display: flex;
    }
}
.editor-header{
  justify-content: space-between;
    display: flex;
    input{
      width: 20px;
      text-align: center;
    }
}
.export-html{
  margin-left: auto;
  font-size: 14px;
  letter-spacing: 1px;
  display: inlin-block;
  text-decoration: underline;
  cursor: pointer;
  color: #2196F3;
  &:hover{
      color: #505050;
  }
}
.export-section{
  position: fixed;
    min-height: 80vh;
    min-width: 80vw;
    background: #fff;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 1px 1px 10px 0px #ccc;
    margin: auto;
    box-sizing: border-box;
    padding: 60px 30px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    transition: 0.2s;
    transform-origin: top right;
    >div{
      width: 40%;
      height: 100%;
      resize: none;
      textarea{
        width: 100%;
        height: 400px;
        resize: none;
      }
    }
    &.close{
      transform: scaleX(0);
    }
    &.open{
      transform: scaleX(1);
    }
    .close-icon{
      position: absolute;
      top: 30px;
      right: 30px;
      font-size: 12px;
      cursor: pointer;
      color: #000;
      &:hover{
        color: #505050;
      }
    }
}