#my-header{
  display: flex;
  background: #fff;
  height: 50px;   width: 100%;
  box-shadow: 1px 1px 10px 0px #ccc;  
}
#my-header img.logo{
  height: 50px;
  padding: 0px 10px;
}
#my-header a.logo{
  display: block;
  padding: 0px 10px;
}
#my-header a.logo img{
  height: 50px;
}
#my-header input.search{
  order: 3;
  padding: 5px 10px;
  /* height: 30px; */
  align-self: center;
  box-sizing: border-box;
  margin: 0px;
  padding: 5px 10px;
  font-size: 14px;
  color: #505050;
  outline: none;
  border: 1px solid #aaaaaa;
  transition: 0.3s;
}
#my-header ul{
  padding: 0px;
  margin: 0px;
  display: flex;
  list-style-type: none;
  align-items: center;
}
#my-header ul li{
  height: 100%;
}
#my-header ul li a {
  padding: 5px 10px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  color: #000;
  align-items: center;
  text-decoration: none;
}
#my-header .hidden{
  display: none !important;
}
#my-header ul li a:hover{
  background: #f3f4f5;
}