section.sidepanel{
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    width: 200px;
    background: #fff;
    z-index: 1;
    box-shadow: 1px 1px 10px 0px #aaa;
    overflow-y: auto;
}
section.sidepanel .item{
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
section.sidepanel input[type="text"]{
    padding: 5px 10px;
    width: 100%;
    margin: 0px;
    /* border: 0px; */
    box-sizing: border-box;
}
section.sidePanel.close{
    width: 0px;
    padding: 0px;
}
a.toggleButton{
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #505050;
    position: absolute;
    top: calc(50% - 12px);
    right: -24px
}